.vachan-assessment {
    width: 100%;
    /* max-width: 600px; */
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
    /* border-radius: 10px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}