.error-modal-dialog {
    max-width: 20rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .error-modal-dialog::backdrop {
    background: hsl(0 0% 0% / 50%);
  }
  
  .error-modal-message {
    padding-top: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
  }
  
  .error-modal-message:not(:last-child) {
    margin-bottom: 1em;
  }
  
  .error-modal-button-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
  }
  
  .error-modal-submit-btn {
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #386AF6;
    background: #386AF6;
    border-radius: 25px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .error-modal-submit-btn:hover {
    background-color: #0056b3;
  }
  
  .error-modal-close-btn {
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #386AF6;
    border-radius: 25px;
    color: black;
    cursor: pointer;
  }
  
  .error-modal-close-btn:hover {
    background-color: #f8f9fa;
  }
  