* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}

.retakepopup-container {
  height: 100%;
  width: 100%;
}

.retakepopup-warning-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #333;
  padding-top: 1vh;
  color: white;
}

.retakepopup-heading {
  font-size: 2rem;
  margin-bottom: 2vh;
  color: white;
  text-align: center;
  padding-bottom: 1vh;
  width: 100%;
  border-bottom: 2px solid #ECECEC;
}

.retakepopup-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.retakepopup-warning-container {
  background-color: #fff;
  color: black;
  border-radius: 0.5rem 0.5rem 0 0; /* Rounded corners on top only */
  padding: 1.5rem;

  width: 100%; /* Adjusting width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.retakepopup-warning-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.retakepopup-warning-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.retakepopup-warning-text {
  font-size: 1.5rem;
  color: #0E0E0E;
}

.retakepopup-warning-message {
  font-size: 1.6rem; /* Decreased font size */
  text-align: center;
  margin-bottom: 1.5rem;
}

.retakepopup-button-container {
  display: flex;
  justify-content: space-around;
}

.retakepopup-cancel-button,
.retakepopup-confirm-button,
.retakepopup-cancel-button-1,
.retakepopup-confirm-button-1 {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  width: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.retakepopup-cancel-button {
  border: 0.1rem solid #386AF6;
  background-color: white;
  color: #386AF6;
}

.retakepopup-confirm-button {
  background-color: #386AF6;
  color: white;
}

.retakepopup-cancel-button-1 {
  background-color: #999999;
  color: white;
}

.retakepopup-confirm-button-1 {
  background-color: white;
  border: 0.1rem solid red;
  color: #EB5757;
}

@media (max-width: 767px) {
  .retakepopup-heading {
    font-size: 1.8rem;
  }

  .retakepopup-warning-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .retakepopup-warning-text {
    font-size: 1.2rem;
  }

  .retakepopup-warning-message {
    font-size: 1.3rem; /* Decreased font size */
  }

  .retakepopup-cancel-button,
  .retakepopup-confirm-button,
  .retakepopup-cancel-button-1,
  .retakepopup-confirm-button-1 {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .retakepopup-heading {
    font-size: 2.2rem;
  }

  .retakepopup-warning-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .retakepopup-warning-text {
    font-size: 1.5rem;
  }

  .retakepopup-warning-message {
    font-size: 1.5rem; /* Decreased font size */
  }

  .retakepopup-cancel-button,
  .retakepopup-confirm-button,
  .retakepopup-cancel-button-1,
  .retakepopup-confirm-button-1 {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    width: 10rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .retakepopup-heading {
    font-size: 2.5rem;
  }

  .retakepopup-warning-icon {
    width: 2rem;
    height: 2rem;
  }

  .retakepopup-warning-text {
    font-size: 1.7rem;
  }

  .retakepopup-warning-message {
    font-size: 1.8rem; /* Decreased font size */
  }

  .retakepopup-cancel-button,
  .retakepopup-confirm-button,
  .retakepopup-cancel-button-1,
  .retakepopup-confirm-button-1 {
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
    width: 11rem;
  }
}

@media (min-width: 1201px) {
  .retakepopup-heading {
    font-size: 2.7rem;
  }

  .retakepopup-warning-icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .retakepopup-warning-text {
    font-size: 1.8rem;
  }

  .retakepopup-warning-message {
    font-size: 2rem; /* Decreased font size */
  }

  .retakepopup-cancel-button,
  .retakepopup-confirm-button,
  .retakepopup-cancel-button-1,
  .retakepopup-confirm-button-1 {
    padding: 1.5rem 3rem;
    font-size: 1.7rem;
    width: 12rem;
  }
}
