.retakepopup-warning-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  color: white;
}

.retakepopup-heading {
  font-size: calc(1.2vh + 1.2vw);
  color: white;
  border-bottom: 1px solid #ECECEC;
  padding-top: calc(1vh + 1vw);
  padding-bottom: calc(0.8vh + 0.8vw);
  text-align: center;
}

.retakepopup-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100vw;
}

.retakepopup-warning-container {
  background-color: #fff;
  color: black;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: calc(1.5vh + 1.5vw);
  height: 35%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
}

.retakepopup-warning-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(1.5vh + 1.5vw);
}

.retakepopup-warning-icon {
  width: calc(1.5vh + 1.5vw);
  height: calc(1.5vh + 1.5vw);
  margin-right: calc(0.8vh + 0.8vw);
}

.retakepopup-warning-text {
  height: calc(1.5vh + 1.5vw);
  font-size: calc(1vh + 1vw);
  color: #0E0E0E;
}

.retakepopup-warning-message {
  font-size: calc(1.2vh + 1.2vw);
  text-align: center;
  margin-bottom: calc(1.5vh + 1.5vw);
}

.retakepopup-button-container {
  display: flex;
  justify-content: space-around;
}

.retakepopup-cancel-button,
.retakepopup-confirm-button,
.retakepopup-cancel-button-1,
.retakepopup-confirm-button-1 {
  padding: calc(0.8vh + 0.8vw) calc(1.5vh + 1.5vw);
  font-size: calc(0.8vh + 0.8vw);
  border: none;
  width: calc(8vh + 8vw);
  border-radius: 8px;
  cursor: pointer;
}

.retakepopup-cancel-button {
  border: 2px solid black;
  border-color: #386AF6;
  background-color: white;
  color: #386AF6;
}

.retakepopup-confirm-button {
  background-color: #386AF6;
  color: white;
}

.retakepopup-cancel-button-1 {
  background-color: #999999;
  color: white;
}

.retakepopup-confirm-button-1 {
  background-color: white;
  border: 1px solid red;
  color: #EB5757;
}

@media (max-width: 767px) {
  .retakepopup-warning-container {
    height: 30%; 
  }

}

@media (max-width: 950px) {
  .retakepopup-warning-container {
    height: 30%;
  }
}
