/* TextBox.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.text-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  font-size: inherit;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.text-box p {
  margin: 0;
  text-align: start;
}
