* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}

.instruction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 1vh;
  padding-bottom: 1rem;
}

.instruction-title {
  font-size: 2rem;
  margin-bottom: 2vh;
  color: #333;
  text-align: center;
  padding-bottom: 1vh;
  width: 100%;
  border-bottom: 2px solid #ECECEC;
}

.instruction-image-container {
  width: 75%;
  text-align: center;
  margin-bottom: 3vh;
}

.instruction-image-container img {
  max-width: 100%;
  height: auto;
  max-height: 45vh;
}

.instruction-text-list {
  list-style-type: none;
  padding: 0 7vw;
  margin-bottom: 5vh;
  text-align: left;
  color: #1C1B34;
}

.instruction-text-list li {
  font-size: 1.4rem;
  margin-bottom: 1.5vh;
  position: relative;
  padding-left: 2.5vw;
}

.instruction-text-list li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #1C1B34;
  font-size: 1.4rem;
}

.instruction-start-button {
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  width: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #386AF6;
}

@media (max-width: 767px) {
  .instruction-title {
    font-size: 1.8rem;
  }

  .instruction-image-container {
    width: 80%;
  }

  .instruction-image-container img {
    max-width: 100%;
    height: auto;
    max-height: 45vh;
  }

  .instruction-text-list {
    padding: 0 6vw;
    margin-bottom: 5vh;
  }

  .instruction-text-list li {
    font-size: 1rem;
    padding-left: 3vw;
  }

  .instruction-text-list li::before {
    font-size: 1rem;
  }

  .instruction-start-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .instruction-title {
    font-size: 2.1rem;
  }

  .instruction-image-container {
    width: 65%;
  }

  .instruction-image-container img {
    max-width: 100%;
    height: auto;
    max-height: 45vh;
  }

  .instruction-text-list {
    padding: 0 7vw;
    margin-bottom: 6vh;
  }

  .instruction-text-list li {
    font-size: 1.2rem;
  }

  .instruction-start-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    width: 8rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .instruction-title {
    font-size: 2.3rem;
  }

  .instruction-image-container {
    width: 50%;
  }

  .instruction-image-container img {
    max-width: 100%;
    height: auto;
    max-height: 45vh;
  }

  .instruction-text-list {
    padding: 0 8vw;
    margin-bottom: 6vh;
  }

  .instruction-text-list li {
    font-size: 1.3rem;
  }

  .instruction-start-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    width: 8rem;
  }
}

@media (min-width: 1201px) {
  .instruction-title {
    font-size: 2.5rem;
  }

  .instruction-image-container {
    width: 45%;
  }

  .instruction-image-container img {
    max-width: 100%;
    height: auto;
    max-height: 45vh;
  }

  .instruction-text-list {
    padding: 0 8vw;
    margin-bottom: 7vh;
  }

  .instruction-text-list li {
    font-size: 1.4rem;
  }

  .instruction-start-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    width: 8rem;
  }
}

