.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-title {
  padding: 1vh 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  width: 100%;
}

.header-speak-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 1rem;
}

.header-voice-icon {
  margin-right: 1rem;
  width: 2rem; 
  height: 2rem;
}

.header-speak-text {
  font-size: 1.2rem; 
  color: #999999;
}

.header-instructions {
  padding-right: 1rem;
  font-size: 1.2rem; 
  color: #386AF6;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header-title {
    font-size: 1.8rem;
  }

  .header-voice-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .header-speak-text,
  .header-instructions {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-title {
    font-size: 2.2rem;
  }

  .header-voice-icon {
    width: 2rem;
    height: 2rem;
  }

  .header-speak-text,
  .header-instructions {
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header-title {
    font-size: 2.5rem;
  }

  .header-voice-icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .header-speak-text,
  .header-instructions {
    font-size: 1.6rem;
  }
}

@media (min-width: 1201px) {
  .header-title {
    font-size: 2.7rem;
  }

  .header-voice-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .header-speak-text,
  .header-instructions {
    font-size: 1.7rem;
  }
}
