.recording-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space equally */
    align-items: center; /* Center align the content */
    background-color: #ECECEC;
    padding: calc(0.8rem + 0.8vw); /* Decreased padding */
    border-radius: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw) 0 0; /* Border radius only on top */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Shadow only on the top */
    width: 100%; /* Use 100% width */
    height: 40%;
    max-height: 350px;
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
  }
  
  .recording-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(0.8rem + 0.4vw); /* Decreased margin */
  }
  
  .icon {
    width: calc(1rem + 0.8vw); /* Adjusted icon size */
    height: calc(1rem + 0.8vw); /* Maintain aspect ratio */
    margin-right: calc(0.8rem + 0.4vw); /* Decreased margin */
  }
  
  .message {
    font-size: calc(1.1rem + 0.3vw + 0.1vh); /* Decreased font size */
    font-weight: bold;
    color: #0E0E0E;
  }
  
  .audio-container {
    display: flex;
    justify-content: center; /* Center align the audio container */
    margin-bottom: 0; /* Removed extra margin */
    width: 70%; /* Default width */
    padding: calc(0.5rem + 0.3vw); /* Decreased padding */
  }
  
  .audio-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #F4F6FA;
    border-radius: calc(0.5rem + 0.5vw);
    padding: calc(0.8rem + 0.3vw) calc(1.5rem + 0.5vw); /* Decreased padding */
    width: 100%;
  }
  
  .recording-text {
    font-size: calc(0.9rem + 0.3vw + 0.1vh); /* Decreased font size */
    margin-bottom: 0; /* Removed extra margin */
    color: #0E0E0E;
  }
  
  .player-delete-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: calc(0.8rem + 0.4vw); /* Added margin to separate from the content */
  }
  
  .delete-icon {
    cursor: pointer;
    width: calc(1rem + 0.7vw); /* Adjusted icon size */
    height: calc(1rem + 0.7vw); /* Maintain aspect ratio */
    margin-left: calc(0.8rem + 0.4vw); /* Decreased margin */
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .save-button,
  .retake-button {
    padding: calc(0.4rem + 0.4vw) calc(0.8rem + 0.5vw); /* Decreased padding */
    cursor: pointer;
    font-size: calc(0.8rem + 0.3vw + 0.1vh); /* Decreased font size */
    border-radius: calc(0.4rem + 0.4vw); /* Decreased border-radius */
    margin-top: calc(0.8rem + 0.4vw); /* Decreased margin */
    border: 1px solid #007bff;
    background: none;
    color: #386AF6;
  }
  
  .save-button:hover,
  .retake-button:hover {
    background-color: #386AF6;
    color: #fff;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 767px) {
    .recording-popup {
      height: 50%;
      max-height: none;
      justify-content: space-around; /* Distribute remaining space equally */
    }
  
    .icon,
    .delete-icon {
      width: calc(1.5rem + 1.5vw); /* Adjusted size for smaller screens */
      height: calc(1.5rem + 1.5vw); /* Maintain aspect ratio */
    }
  
    .message,
    .recording-text {
      font-size: calc(1rem + 1vw); /* Adjusted font size for smaller screens */
    }
  
    .audio-container {
      width: 100%;
      padding: calc(0.3rem + 0.3vw);
    }
  
    .save-button,
    .retake-button {
      font-size: calc(0.9rem + 1vw);
      padding: calc(0.8rem + 1vw) calc(1.5rem + 1vw);
    }
  }
  

  @media (max-width: 480px) {
    .message,
    .recording-text {
      font-size: calc(0.8rem + 0.8vw);
    }
  
    .save-button,
    .retake-button {
      font-size: calc(0.7rem + 0.8vw);
      padding: calc(0.6rem + 0.8vw) calc(1.2rem + 0.8vw);
    }
  }
  

  @media (min-width: 1200px) {
    .audio-container {
      margin-bottom: calc(0.5rem + 0.3vw);
      padding: calc(0.3rem + 0.2vw);
    }
  
    .save-button,
    .retake-button {
      padding: calc(0.3rem + 0.3vw) calc(0.6rem + 0.4vw);
      margin-top: calc(0.5rem + 0.3vw); 
    }
  }
  